.container {
    background-color: #f2f2f7;
    padding: 24px 20px 0px;
    color: var(--text-dark);
    

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 8px;
    }

    p {
        font-size: 1.5rem;
    }

    button {
        border: solid 1.5px #005271;
        color: #005271;
        background-color: white;
        border-radius: 8px;
        margin-top: 24px;
        padding: 16px;
        font-weight: 600;
        font-size: 1.5rem;
        width: 100%;
    }

    .projects {
        background-color: #9EE7E5;
        border-radius: 16px;
        padding: 24px;
    }
}