.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 11000;
}

.modal {
  position: relative;
  width: 900px;
  height: 730px;
  padding-left: 170px;
  padding-right: 170px;
  margin-top: 50px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(357deg, 
    rgba(255, 255, 255, 0.7) 60%,
    #B2E7DD 80.18%,
    #76D6E6 102.56%
  );
  backdrop-filter: blur(30px);
}

.stage {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:has(.tableInfoContainer) {
    padding-left: 106px;
    padding-right: 106px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: -170px;
    margin-right: -170px;
    width: calc(100% + 340px);
  }
}

.mascots {
  margin-top: 70px;
  height: 240px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frog {
    margin-top: 242px;
    height: 160px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.heading {
  margin-top: 70px;
  color: #000;
  text-align: center;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.36px;
  align-self: stretch;
  width: 100%;
}

.secondHeading {
    margin-top: 160px;
    color: #000;
    text-align: center;
    font-family: var(--font-jakarta);
    font-size: var(--Med, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.36px;
    align-self: stretch;
    width: 100%;
  }

.subtext {
  margin-top: 13px;
  color: #000;
  text-align: center;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.36px;
  align-self: stretch;
  width: 100%;
}

.inputContainer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .stage:has(.tableInfoContainer) & {
    justify-content: center;
    gap: 44px;
    margin-top: 60px;
  }
}

.input {
  width: 236px;
  height: 60px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  padding: 0 20px;
  appearance: none;
  box-shadow: none;
  color: #005271;
  text-align: center;
  &::placeholder {
    font-weight: 400;
    color: #005271;
  }

  &:focus {
    outline: 0;
    border: 0;
    border-style: none;
    border-color: transparent;
    box-shadow: none;
  }

  &:not(:focus) {
    border: 0;
    border-style: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.button {
  display: flex;
  width: 236px;
  height: 60px;
  padding: 0 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 20px;
  background: #005271;
  opacity: 0.3;
  border: none;
  color: white;
  cursor: pointer;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-weight: 600;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.4;
    &.active {
      opacity: 0.8;
    }
  }

  img {
    margin-left: 8px;
  }
}

.secondButton {
    display: flex;
    width: 120px;
    height: 60px;
    padding: 12px 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 20px;
    background: #005271;
    opacity: 1;
    border: none;
    color: white;
    cursor: pointer;
    font-family: var(--font-jakarta);
    font-size: var(--Med, 18px);
    font-weight: 600;
    transition: opacity 0.2s ease;

    &.active {
        opacity: 1;
    }

    &:hover {
        opacity: 0.4;
        &.active {
        opacity: 0.8;
        }
    }

    img {
        margin-left: 8px;
    }
}

.tableInfoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableTitle {
  color: #000;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.36px;
  align-self: stretch;
  margin-bottom: 80px;
}

.mapLinkContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  text-decoration: none;
}

.mapLink {
  color: #000;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.mapIcon {
  width: 24px;
  height: 24px;
}

.instructions {
  color: #000;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.36px;
  align-self: stretch;

  strong {
    font-weight: 700;
  }
}

.tableNumber {
  color: #000;
  text-align: center;
  font-family: var(--font-jakarta);
  font-size: 250px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  letter-spacing: 5px;
}

.wrongTeamButton {
  display: flex;
  height: 40px;
  padding: 12px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  opacity: 0.5;
  background: #005271;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-jakarta);
  font-size: var(--Med, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.36px;

  &:hover {
    opacity: 1;
  }
} 