.container {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-content: center;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;

    .child {
        width: 40%;
        line-height: 1.5;

        .text1 {
            background-color: white;
            padding: 2%;
            border-radius: 12px;
            margin: 5%;
        }

        .text2 {
            background-color: white;
            padding: 2%;
            border-radius: 12px;
            margin: 5%;
        }

        p { 
            padding: 2%;
        }
    }
}