@import "@globals/mixins.scss";

.item_button {
  cursor: pointer;
  border: none;
  text-align: start;
  width: 100%;

  .item_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 64px;
    border-radius: var(--b-radius);

    @include desktop-s {
      padding: 32px;
    }

    @include tablet-l {
      padding: 16px;
    }

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;

      .star {
        height: 24px;
        width: 24px;

        @include tablet-l {
          height: 12px;
          width: 12px;
        }
      }
    }

    .header_text {
      display: flex;
      flex-direction: column;
      margin-left: 40px;

      h5 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.4px;

        @include tablet-l {
          font-size: 0.625rem;
        }
      }

      h4 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.56px;

        @include tablet-l {
          font-size: 0.875rem;
        }
      }
    }

    .chevron {
      transition: transform 0.3s;
      height: 20px;
      width: 40px;

      @include tablet-l {
        height: 6px;
        width: 12px;
      }
    }
  }
}

.item_button_expanded {
  .chevron {
    transform: rotate(-180deg);
    transition: transform 0.3s;
  }
}

.item_content {
  transition: height 0.3s ease-in-out;
}
