.background_container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

    &.hidden {
        display: none;
    }
}

.container {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(205, 205, 205, 0.25);
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.close_button {
    align-self: flex-end;
    cursor: pointer;

    .exit_button {
        font-size: 1.5rem;
    }
}

.success_container, .error_container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > h2 {
        font-size: 1.25rem;
    }

    .ack_button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 32px;
        border-radius: 8px;
        background: #005271;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }

}