.container{
    background: linear-gradient(to left top, #FFEDCF, #79CCD9, #97DBEF);
    width: 100vw;
    padding-bottom: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 80px 0px 80px;
    padding-right: 2%; //to pad good froggie svg
    top: 60px;
    position: relative;
    p{
        font-size: 16px;
        font-weight: 400;
        color: #005271;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        line-height: normal;
        
    }
    .code_text{
        color: #123041;
        font-family: "DM Mono";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 26.1px */
        letter-spacing: 0.36px;
    }
    h2{
        font-size: 36px;
        font-weight: 700;
        font-family: 'Metropolis';
        color: #123041;
        line-height: 40px; /* 111.111% */
        font-style: normal;
        letter-spacing: 0.72px;
    }
    .h2{ //needed for "Starter Kit"
        font-size: 36px;
        font-weight: 700;
        font-family: 'Metropolis';
        color: #123041;
        line-height: 40px; /* 111.111% */
        font-style: normal;
        letter-spacing: 0.72px;
    }
    .header_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        top: 25px;
        position: relative;
    }
}

.carousel{
    background-color: rgba($color: #FFFFFF, $alpha: 0.5);
    margin: 0px 80px 60px 80px;
    border-radius: 12px;
    padding-top: 50px;
    .carousel_navi{
        display: flex;
        justify-content: space-between;
    }
    .banner{
        padding: 20px 40px;
        border-radius: 0px 12px 12px 0px;
        //font styling:
        font-size: 36px;
        font-weight: 700;
        color: #FFF;
        width: 25%;
        text-align: right;
        font-family: 'Metropolis';
        font-style: normal; 
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        // animation: collapse 1s ease;
    }
    @keyframes collapse {
        0%{
            width: 25%; 
        }
        50% {
            font-size: 0px;
        }
        100% {
            width: 0px;
            padding: 0;
        } 
    }
}
.children{
    padding: 50px;
    .child_transition{
        animation: slide 1s ease-out;
        @keyframes slide {
            from {
                transform:translateX(0);
            }
            to {
                transform: translateX(-2000px);
                width:initial;
            } 
        }
    }
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 30px 0px;
}
.home_button {
    border: 2px solid #005271;
    background-color: transparent;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
    box-shadow: none;
    //font styling:
    color: #005271;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 26.1px */
    letter-spacing: 0.36px;
}
.next_button{
    border: none;
    background-color: #005271;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
    box-shadow: none;
    //font styling:
    color: #FFFFFF;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 26.1px */
    letter-spacing: 0.36px;
}

.bubbles {
    display: flex;
    gap: 8px;
}

.bubbles_top {
    display: flex;
    gap: 8px;
    padding-right: 5%;
}
  
.bubble {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #005271;
    transition: all 0.3s ease-in-out;
}
  
.bubble.active {
    width: 48px;
    height: 12px;
    border-radius: 100px;
    background-color: #9EE7E5;
    border: 1px solid #005271;
}

.bubble.active2 {
    background-color: #9EE7E5;
    border: 1px solid #005271;
}