@import "@globals/mixins.scss";

.container{
    padding: 2%;

    h3{
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.56px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
    .left_panel{
        width: 10%;
    }
    .right_panel{
        width: 90%;
        padding: 2%;
        border-radius: 16px;
    }
    .panel{
        display: flex;
        flex-direction: row;
        @include tablet-s{
            flex-direction: column;
        }
    }
    .be_at_table{
        display: flex;
        flex-direction: row;
        @include tablet-s{
            flex-direction: column;
        }
    }
}
