.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 464px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f7;
  min-height: 100vh;
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.tab {
  padding: 4px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1.5px solid var(--teal-1, #005271);
  height: auto;
  background-color: white;

  &.active {
    background: var(--cow, linear-gradient(180deg, #9ee7e5 0%, #9ee7e5 100%));
  }
}

.project_label {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  margin: 12px 0;
}

.back_button {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #005271;
  font-size: 1.125rem;
  padding: 12px 0;
  background: transparent;
  box-shadow: none;
}

.info_container {
  display: none;
  flex-direction: column;
  gap: 16px;

  &.show {
    display: flex;
  }
}

.category_card {
  padding: 16px 20px;
  border-radius: 8px;
  background: linear-gradient(180deg, #9ee7e5 0%, #9ee7e5 100%);
  box-shadow: 0px 4px 8px 4px rgba(195, 194, 194, 0.08);
  width: fit-content;
}
