.container {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFF;   // changed
    min-height: 100vh;
}

.tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

.tab {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;            
    border: 1px dashed #3F3F3F;     
    background-color: transparent;      
    color: #3F3F3F;
    font-weight: 600;

    height: auto;
    cursor: pointer;

    &.active {
        background: #3F3F3F;               // changed
        color: white;
        border: none;
    }
}

.project_label {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    margin: 12px 0;
    border-radius: 20px;                   // added
}

.back_button {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.125rem;
    color: #121212;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
    letter-spacing: 0.36px;
    padding: 12px 0;
    background: transparent;
    box-shadow: none;
    border-radius: 20px;                   // added
}

.info_container {
    display: none;
    flex-direction: column;
    gap: 16px;
    border-radius: 20px;
    color: #5E5E65;

    &.show {
        display: flex;
    }
}

.category_card {
    padding: 8px 24px;
    border-radius: 50px;                    
    background: #9EE7E5;  
    color: #123041;    
    width: fit-content;
}