@import '@globals/mixins.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 320px 0px;
    h1{
        color: #AFD157;
        font-family: Metropolis;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
    }
    p{
        color: #000;
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 26.1px */
        letter-spacing: 0.36px;
    }
    @include desktop-l{
        padding: 240px 0px;
    }
    @include tablet-l{
        display: none;
    }

}
.cow_cont{
    background-color: #AFD157;
    padding: 2%;
    border-radius: 16px;
}
.cow_img{
    width: 201px;
}