@import '@globals/mixins.scss';

.container {
  margin-bottom: 32px;
}

.background {
  position: relative;
  height: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 80px;
  border-radius: 0px 0px 36px 36px;

  h6 {
    color: var(--text-light);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;

    @include desktop-m {
      font-size: 1.25rem;
    }
  }

  .characters {
    width: 100%;
  }

  .criteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: 7.5%;
    width: 85%;

    .table {
      display: flex;
      flex-direction: row;
      border: 1.5px solid var(--text-light);
      margin-top: 16px;
      width: 100%;

      @include desktop-m {
        margin-top: 8px;
      }

      > div {
        display: flex;
        justify-content: center;
        min-width: fit-content;
        white-space: nowrap;
        padding: 24px 16px;

        color: var(--text-light);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.36px;

        @include desktop-l {
          padding: 16px 12px;
        }

        @include desktop-m {
          padding: 12px 8px;
          font-size: 1rem;
        }
      }

      > div:not(:last-child) {
        border-right: 1.5px solid var(--text-light);
      }
    }
  }
}
