@import '@globals/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.background {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 80px;

  .characters {
    width: 80%;
    transform: translateY(6%);

    @include tablet-s {
      display: none;
    }
  }

  .characters_mobile {
    display: none;
    width: 80%;
    transform: translateY(6%);

    @include tablet-s {
      display: block;
    }
  }
}

.foreground {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #123041;
  padding: 64px 32px;
  border-radius: 0px 0px 12px 12px;

  @include desktop-s {
    padding: 32px 16px;
  }

  @include tablet-l {
    border-radius: 0px 0px 6px 6px;
  }

  .criteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 16px;

    @include tablet-l {
      gap: 8px;
    }

    > h6 {
      color: var(--text-light);
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.56px;
  
      @include desktop-m {
        font-size: 1.25rem;
      }

      @include tablet-l {
        font-size: 0.875rem;
      }
    }

    .table {
      display: flex;
      flex-direction: row;
      border: 1.5px solid var(--text-light);
      width: 100%;

      @include desktop-m {
        margin-top: 8px;
      }

      @include tablet-l {
        display: none;
      }
    }

    .table_mobile {
      display: none;
      flex-direction: column;
      border: 1.5px solid var(--text-light);
      width: 100%;

      @include tablet-l {
        display: flex;
      }

      .first_criterion {
        display: flex;
        justify-content: center;
        min-width: fit-content;
        padding: 24px 16px;
        border-bottom: 1.5px solid white;
    
        color: var(--text-light);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.36px;
    
        @include desktop-l {
          padding: 16px 12px;
        }
    
        @include desktop-m {
          padding: 12px 8px;
          font-size: 1rem;
        }

        @include tablet-s {
          font-size: 0.625rem;
        }

        @include mobile-l {
          font-size: 0.5rem;
        }
      }

      .other_criteria {
        display: flex;
        flex-direction: row;
      }
    }

    .criterion {
      display: flex;
      justify-content: center;
      min-width: fit-content;
      padding: 24px 16px;
  
      color: var(--text-light);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0.36px;
  
      @include desktop-l {
        padding: 16px 12px;
      }
  
      @include desktop-m {
        padding: 12px 8px;
        font-size: 1rem;
      }

      @include tablet-s {
        font-size: 0.625rem;
      }

      @include mobile-l {
        font-size: 0.5rem;
      }
    }
  
    .criterion:not(:last-child) {
      border-right: 1.5px solid var(--text-light);
    }
  }
}
