@import "@globals/mixins.scss";

.teamFormation {
    display: flex;
    background: var(--sea-background);
    border-radius: 12px;
    color: white;

    /* Left panel (Title) */
    .leftPanel {
        border-radius: 12px 0px 0px 12px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #005271;

        h2 {
            font-weight: 600;
            color: var(--text-light);
            font-size: 2.5rem; // default 
        }  
    }  

    /* Right panel (Chat Bubbles) */
    .rightPanel {
        padding-left: 10%;
        padding: 6%;
        flex: 1.5;
        display: flex-start;
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }

    /* Base chat bubble styling */
    .chatBubble {
        padding: 7% 5%;
        margin-top: 20px;
        border-radius: 12px;
        font-size: 16px;
        // max-width: 80%;
        position: relative;
        transform: rotate(-2deg); /* Slightly slanted effect */
    }

    /* Blue Bubble */
    .blueBubble {
        background: #AEEFFF;
        color: #123041;
        align-self: flex-start;
        transform: rotate(-2deg);
    }

    /* Green Bubble */
    .greenBubble {
        margin-left: -10px;
        background: #AFD157;
        color: #123041;
        align-self: flex-end;
        transform: rotate(3deg);
    }

    /* Links inside chat bubbles */
    .chatBubble a {
        color: #123041;
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;
    }
}

@include monitor-s {
    .teamFormation {
        display: flex;
        background: #123041;
        border-radius: 12px;
        color: white;
    
        /* Left panel (Title) */
        .leftPanel {
            border-radius: 12px 0px 0px 12px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #005271;

            h3 {
                font-size: 2rem;
                font-weight: 600;
                color: var(--text-light)
            }
        }
    
        /* Right panel (Chat Bubbles) */
        .rightPanel {
            padding-left: 10%;
            padding: 6%;
            flex: 1.5;
            display: flex-start;
            flex-direction: column;
            gap: 60px;
            align-items: center;
        }
    
        /* Base chat bubble styling */
        .chatBubble {
            padding: 7% 5%;
            margin-top: 20px;
            border-radius: 12px;
            font-size: 16px;
            // max-width: 80%;
            position: relative;
            transform: rotate(-2deg); /* Slightly slanted effect */
        }
    
        /* Blue Bubble */
        .blueBubble {
            background: #AEEFFF;
            color: #123041;
            align-self: flex-start;
            transform: rotate(-2deg);
        }
    
        /* Green Bubble */
        .greenBubble {
            margin-left: -10px;
            background: #AFD157;
            color: #123041;
            align-self: flex-end;
            transform: rotate(3deg);
        }
    
        /* Links inside chat bubbles */
        .chatBubble a {
            color: #123041;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@include desktop-s {
    .teamFormation {
        display: flex;
        background: #123041;
        border-radius: 12px;
        color: white;

        /* Left panel (Title) */
        .leftPanel {
            border-radius: 12px 0px 0px 12px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #005271;
        }
    
        /* Right panel (Chat Bubbles) */
        .rightPanel {
            padding-left: 10%;
            padding: 6%;
            flex: 1;
            display: flex-start;
            flex-direction: column;
            gap: 60px;
            align-items: center;
        }
    
        /* Base chat bubble styling */
        .chatBubble {
            padding: 7% 5%;
            margin-top: 20px;
            border-radius: 12px;
            font-size: 16px;
            // max-width: 80%;
            position: relative;
            transform: rotate(-2deg); /* Slightly slanted effect */
        }
    
        /* Blue Bubble */
        .blueBubble {
            background: #AEEFFF;
            color: #123041;
            align-self: flex-start;
            transform: rotate(-2deg);
        }
    
        /* Green Bubble */
        .greenBubble {
            margin-left: -10px;
            background: #AFD157;
            color: #123041;
            align-self: flex-end;
            transform: rotate(3deg);
        }
    
        /* Links inside chat bubbles */
        .chatBubble a {
            color: #123041;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@include tablet-l {
    .teamFormation {
        display: flex;
        background: #123041;
        border-radius: 12px;
        color: white;
        flex-direction: column;

        /* Left panel (Title) */
        .leftPanel {
            border-radius: 12px 12px 0px 0px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #005271;
            padding: 3% 5%;

            h2 {
                font-weight: 600;
                color: var(--text-light);
                font-size: 1.8rem; // Default size
            }  
        }
    
        /* Right panel (Chat Bubbles) */
        .rightPanel {
            padding-left: 10%;
            padding: 6%;
            padding-bottom: 10%;
            flex: 1;
            display: flex-start;
            flex-direction: column;
            gap: 60px;
            align-items: center;
        }
    
        /* Base chat bubble styling */
        .chatBubble {
            padding: 7% 5%;
            margin-top: 20px;
            border-radius: 12px;
            font-size: 16px;
            // max-width: 80%;
            position: relative;
            transform: rotate(-2deg); /* Slightly slanted effect */
        }
    
        /* Blue Bubble */
        .blueBubble {
            background: #AEEFFF;
            color: #123041;
            align-self: flex-start;
            transform: rotate(-2deg);
        }
    
        /* Green Bubble */
        .greenBubble {
            margin-left: -10px;
            background: #AFD157;
            color: #123041;
            align-self: flex-end;
            transform: rotate(3deg);
        }
    
        /* Links inside chat bubbles */
        .chatBubble a {
            color: #123041;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@include mobile-l {
    .teamFormation {
        display: flex;
        background: #123041;
        border-radius: 12px;
        color: white;
        flex-direction: column;

        /* Left panel (Title) */
        .leftPanel {
            border-radius: 12px 12px 0px 0px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #005271;
            padding: 3% 5%;

            h2 {
                font-weight: 600;
                color: var(--text-light);
                font-size: 1.2rem; // Default size
            }  
        }
    
        /* Right panel (Chat Bubbles) */
        .rightPanel {
            padding-left: 10%;
            padding: 6%;
            padding-bottom: 10%;
            flex: 1;
            display: flex-start;
            flex-direction: column;
            gap: 60px;
            align-items: center;
        }
    
        /* Base chat bubble styling */
        .chatBubble {
            padding: 7% 5%;
            margin-top: 20px;
            border-radius: 12px;
            font-size: 1rem;
            // max-width: 80%;
            position: relative;
            transform: rotate(-2deg); /* Slightly slanted effect */
        }
    
        /* Blue Bubble */
        .blueBubble {
            background: #AEEFFF;
            color: #123041;
            align-self: flex-start;
            transform: rotate(-2deg);
        }
    
        /* Green Bubble */
        .greenBubble {
            margin-left: -10px;
            background: #AFD157;
            color: #123041;
            align-self: flex-end;
            transform: rotate(3deg);
        }
    
        /* Links inside chat bubbles */
        .chatBubble a {
            color: #123041;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
