@use 'app/(pages)/_globals/mixins';

.background_dimmer {
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.50);   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    z-index: 101; 
    
    @include mixins.tablet-s {
        padding: 70px 32px;
    }
}

.modal_container {
    width: 100%;
    max-width: 900px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    background: linear-gradient(357deg, rgba(255, 255, 255, 0.85) 54.41%, #B2E7DD 88.18%, #76D6E6 112.56%);
    backdrop-filter: blur(30px);
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    color: #000;
    text-align: center;
    font-family: var(--font-jakarta);
    padding: 0 24px;

    @include mixins.tablet-s {
        padding: 0 8px;
    }

    > h3 {
        font-size: 1.125rem;
        font-weight: 600;
        @include mixins.tablet-s {
            font-size: 0.875rem;
        }
    
    }

    > p {
        font-size: 1.125rem;
        font-weight: 400;
        @include mixins.tablet-s {
            font-size: 0.875rem;
        }
    }
}

.team_input {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.70);
    border-color: transparent; 
    padding: 16px 16px;
    flex-grow: 1;
    min-width: 0;

    color: #005271;
    font-size: 1.125rem;
    border: none !important;
    &.error {
        border: solid 1px var(--text-error) !important;
    }

    @include mixins.tablet-s {
        font-size: 0.875rem;
        padding: 8px 16px;
    }

    @include mixins.desktop-s {
        font-size: 1rem;
    }

    &::placeholder {
        color: #005271;
        @include mixins.desktop-s {
            font-size: 1rem;
        }    
    }

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent; 
    }
}

.init_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 15%;
    gap: 70px;

    @include mixins.desktop-s {
        gap: 40px;
    }

    @include mixins.tablet-l {
        padding: 15% 32px;
    }

    .mascot_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        width: 100%;

        .mascots {
            width: 100%;
            height: auto;
        }
    }

    .input_container {
        display: flex;
        flex-direction: row;
        gap: 44px;
        width: 100%;
        padding: 0 24px;
        min-width: none;

        @include mixins.tablet-xl {
            padding: 0;
            gap: 8px;
        }

        .see_teammates_button {
            color: white;
            font-weight: 600;
            font-size: 1.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            border-radius: 8px;
            background: #005271;
            cursor: pointer;
            flex-shrink: 0;

            @include mixins.tablet-s {
                font-size: 0.875rem;
                padding: 8px 16px;
            }
        }
    }
}

.loading_content_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 250px 120px 80px 120px;
    gap: 150px;

    @include mixins.tablet-xl {
        padding: 120px 60px 60px 60px;
        gap: 80px;
    }

    @include mixins.tablet-s {
        padding: 80px 40px 40px 40px;
        gap: 60px;
    }

    .frog {
        width: 50%;
        height: auto;
        transform: translateX(-5%);
    }
}

.confirm_content_container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 120px;
    gap: 40px;

    @include mixins.tablet-xl {
        padding: 60px 90px;
        gap: 32px;
    }


    @include mixins.tablet-l {
        padding: 40px;
        gap: 24px;
    }

    @include mixins.tablet-s {
        padding: 24px;
        gap: 24px;
    }


    .header {
        display: flex;
        flex-direction: row-reverse;
        height: min-content;
        gap: 80px;

        @include mixins.tablet-xl {
            flex-direction: column;
            gap: 16px;
        }

        >h1 {
            font-size: 250px;
            font-weight: 300;

            @include mixins.tablet-xl {
                width: 100%;
                text-align: center;
                font-size: 64px;
                width: 100%;
            }
        }

        .text_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            justify-content: space-between;
            padding: 60px 0;

            @include mixins.tablet-xl {
                padding: 0;
                align-items: center;
            }
        }
    }

    .input_container {
        display: flex;
        flex-direction: row;
        gap: 44px;
        width: 100%;
        padding: 0 24px;

        @include mixins.tablet-xl {
            gap: 16px;
        }

        @include mixins.tablet-s {
            padding: 0;
        }

        .yes_button {
            color: white;
            font-weight: 600;
            font-size: 1.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            border-radius: 8px;
            background: #005271;
            flex-grow: 1;
            cursor: pointer;
        }
    }

    .not_my_team_button {
        color: #FFF;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 50px;
        opacity: 0.5;
        background: #005271;
        padding: 6px 24px;
    }

    .link {
        text-decoration: underline;
        text-underline-offset: 4px;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }
}
