.page_container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .page_title {
        font-size: 2rem;
    }
}

.dashboard_container {
    display: flex;
    flex-direction: row;
    gap: 24px;

    h2 {
        font-size: 1.75rem;
    }

    .overview_container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .problems_container {
        flex-grow: 1;
    }

    .divider {
        height: 100%;
        border-left: solid 1px black;
    }
}

.navigation_flex {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.action_links, .data_links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(calc(100% - 16px) / 2);

    .action_link, .data_link {
        padding: 8px 16px;
        border-radius: 4px;
    }

    .action_link {
        background-color: var(--background-secondary);
        color: white;
    }

    .data_link {
        background-color: var(--hd-orange);
        color: black;
    }
}

