@import "@globals/mixins.scss";

.container {
    background: var(--text-dark);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 12px;
    overflow: clip;

    @include desktop-s {
        flex-direction: column;
        background: linear-gradient(to bottom, var(--text-dark) 50%, #005271 50%);
    }
    // background: linear-gradient(to right, #123041 98%, #005271 2%);

    .questions {
        padding: 108px 0px 108px 64px;
        border-radius: 12px 0px 0px 12px;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--text-dark);

        @include desktop-s {
            padding: 56px 32px;
            border-radius: 12px 12px 0px 0px;
        }

        @include tablet-l {
            padding: 36px 24px;
        }

        @include mobile-l {
            padding: 20px;
        }

        @include mobile-m {
            padding: 14px;
        }

        h3 {
            text-align: left;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.64px;
            color: var(--text-light);
            padding-bottom: 35px;
            
            @include tablet-l {
                font-size: 1.5rem;
                padding-bottom: 24px;
            }
            
            @include mobile-l {
                font-size: 0.875rem;
                padding-bottom: 18px;
            }

        }

        .questionBoxes {
            display: flex;
            flex-direction: column;
            color: var(--text-light);
            gap: 32px;

            @include tablet-l {
                gap: 8px;
            }

            .qbox {
                padding: 32px;
                border-radius: 12px;
                background: var(----grass-background-light);
                width: 100%;
                color: var(--text-light);
                font-size: 1.125rem;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: 0.36px;
                text-align: center;

                @include tablet-l {
                    padding: 16px;
                }

                p {
                    color: var(--text-dark);
                    font-size: 1.125rem;

                    @include tablet-l {
                        font-size: 0.875rem;
                    }

                    @include mobile-l {
                        font-size: 0.5rem;
                    }
                }
            }

            /* Different color variations */
            .qboxBlue {
                background: #9EE7E5; // sorry i couldn't find in globals TT
            }

            .qboxYellow {
                background: var(--hd-orange);
            }

            .qboxGreen {
                background: var(--grass-background-light);
            }
        }
    }
}

.devpost_box {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: var(--text-dark);
    border-radius: 12px;

    @include desktop-s {
        justify-content: flex-end;
        width: 100%;
    }

    .peeping_animals {
        display: flex;
        align-self: flex-end;
        width: auto;
        max-width: none;
        height: 600px;
        transform: translateX(7.5%);
        object-fit: 'cover';

        @include desktop-m {
            height: 400px;
        }

        @include desktop-s {
            height: 450px;
        }

        @include tablet-l {
            height: 300px;
        }
    }

    .devpost_submission {
        // pointer-events: none; // todo: remove on DOE
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 104px 36px;
        border-radius: 0px 12px 12px 0px;
        background-color: #005271;

        @include desktop-s {
            padding: 56px 36px;
            border-radius: 0px 0px 12px 0px;
        }
    
        @include tablet-l {
            padding: 32px 18px;
        }
    
        .button {
            // visibility: hidden; // todo: remove on DOE
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--sea-background);
            padding: 160px 32px;
            border-radius: 1000px;
            gap: 24px;

            @include desktop-s {
                padding: 120px 24px;
            }

            @include tablet-l {
                padding: 80px 16px;
                gap: 12px;
            }
    
            > p {
                color: white;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.4px;
                text-align: center;

                @include tablet-l {
                    font-size: 0.625rem;
                }
            }
        }
    }
}