@import "@globals/mixins.scss";

.animals {
  padding-top: 3%;
  object-fit: cover;
  width: 100%;
  margin-bottom: -15%;

  @include mobile-l {
    margin-bottom: -40%;
  }
}

.SubDuecontainer {
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--background-light);
  background-color: var(--sea-background);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

  .heading {
    color: var(--text-light);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 1.5%;

    @include desktop-m {
      font-size: 1.7rem;
    }

    @include desktop-s {
      font-size: 1.5rem;
    }

    @include mobile-l {
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.28px;
    }
  }

  .boxContainer {
    width: 100%;
    padding: 0% 5% 5% 5% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;

    @include mobile-m {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    /* Each main box */
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-style: solid;
      border-color: var(--background-light);
      border-width: 2px 0px 2px 0px;

        &:first-child {
          border-left: 2px solid var(--background-light);
          border-right: 2px solid var(--background-light);
        }

      @include desktop-l {
        border-color: var(--background-light);
        border-width: 2px 0px 2px 0px;

        &:first-child {
          border-left: 2px solid var(--background-light);
          border-right: 2px solid var(--background-light);
        }
      }

      @media (max-width: 805px) {
        border-color: var(--background-light);
        border-width: 2px 0 2px 0;
      
        &:last-child {
          border-top: none;
          border-left: 2px solid var(--background-light);
        }
      }
      
      @include tablet-l {
        border-color: var(--background-light);
        border-width: 2px 0px 2px 0px;

        &:last-child {
          border-top: none;
          border-left: 2px solid var(--background-light);
        }
      }

      @include tablet-s {
        border-color: var(--background-light);
        border-width: 2px 0px 2px 0px;

        &:last-child {
          border-top: 2px solid var(--background-light);
          border-left: none;
        }
      }

      @media (max-width: 610px) {
        border-color: var(--background-light);
        border-width: 2px 0 2px 0;
      
        &:last-child {
          border-top: none;
          border-left: 2px solid var(--background-light);
        }
      }

      @include mobile-m {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-color: var(--background-light);
        border-width: 2px 0px 0px 2px;

        &:first-child {
          border-bottom: 2px solid var(--background-light);
          border-right: 2px solid var(--background-light);
        }

        &:last-child {
          border-bottom: 2px solid var(--background-light);
        }
      }

      p {
        color: var(--text-light);
        font-size: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        padding: 1.5rem;

        @include desktop-m {
          padding: 1rem;
          font-size: 1.2rem;
        }
        @include desktop-s {
          padding: 0.7rem;
          font-size: 1rem;
        }
        @include tablet-s {
          padding: 0.5rem;
          font-size: 12px;
        }  
        @include mobile-l {
          padding: 0.5rem;
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
        }
        @include mobile-m{
          font-size: 10px;
          padding: 0;
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }
      }

      &:nth-child(1) {
        flex: 4; 
      }

      &:nth-child(2) {
        flex: 2; 
      
        .box3 {
          flex: 1;
          border-right: 2px solid var(--background-light);
      
          @include mobile-m {
            width: 100%;
            border-top: none; // Remove top border by default
            
            &:not(:first-child) {
              border-top: 2px solid var(--background-light);
            }
          }
        }
      }
      
    }
  }
}
    