.SubDuecontainer {
    background: url(/hackers/project-info/SubmissionDue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; // centers children horizontally

    .heading {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem; // creates spacing between the heading and boxContainer
    }

    .boxContainer {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
        color: white;
        z-index: 2;
        text-align: center;
        display: flex;              // Enables Flexbox layout for boxes
        flex-direction: row;        // Boxes will be in a row
        justify-content: center;
        align-items: center;
        
        .box {
            display: flex;
            border-width: 2px 0px 2px 2px;
            border-style: solid;
            border-color: white;
            padding: 2% 3%;
        }
        
        .box:nth-child(1) {
            flex: 4; /* Makes the first box wider */
        }
        
        .box:nth-child(2) {
            flex: 2;
        }
        
        .box:nth-child(3),
        .box:nth-child(4) {
            flex: 2;
            border-right: 2px solid white;
        }
    }
}
