.topSection {
    position: relative;
    background-color: #DFF6F3;
  
    .container {
      display: flex;
      flex-direction: row;
      align-items: stretch; 
  
      .blueBox,
      .whiteBox {
        flex: 1;
        align-items: flex-start;
      }
  
      > :first-child,
      > :last-child {
        flex: 0.35;
      }
  
      .blueBox {
        background-color: #9EE7E5;
      }

      .textContent {
        padding: 8%;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
  
      .whiteBox {
        background: linear-gradient(
          284deg,
          rgba(213, 252, 209, 0.25) 9.72%,
          rgba(178, 231, 221, 0.25) 44.61%,
          rgba(118, 214, 230, 0.25) 79.5%
        );
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .button {
        border-radius: 20px;
        border: 1.5px dashed var(--text-dark);
        padding: 12px 24px;
        transition: background-color 0.15s ease;
        width: fit-content;
  
        &:hover {
          background-color: var(--background-tertiary);
        }
      }
    }
  
    .squiggle {
      position: absolute;
      bottom: -105px;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 10;
    }
  
    .animalWrapper {
      position: relative;
      width: 100%;
    //   max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .cow,
    .duck {
    //   width: 70%;
      height: auto;
      z-index: 1;
    }

    .cow {
        width: 90%;
        padding-right: 20%;
        padding-top: 5%;
    }

    .duck {
        padding: none !important;
        width: 100%;
    }
  
  
    .cowphone,
    .duckphone {
      position: absolute;
      width: 30%;
      height: auto;
      z-index: 2;
      animation: bounce 2s infinite ease-in-out;
    }
  
    .cowphone {
      top: 20%;
      left: 60%;
      animation-delay: 0.5s;
    }
  
    .duckphone {
      left: 13%;
      top: 10%;
    }

    // floating ipod animation
    @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
      }      
  }
  