@import 'app/(pages)/_globals/mixins';

.container {
  display: flex;
  flex-direction: column;

  @include tablet-s {
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 72px 32px 0px 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 471px;
  margin-top: 5%;

  @include tablet-s {
    width: 100%;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet-s {
    gap: 20px;
  }

  div {
    display: flex;
    flex-direction: column;

    label {
      color: #000;
      font-size:  1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0.36px;
      margin-bottom: 4px;
      margin-left: 12px;

      @include tablet-s {
        font-size: 0.75rem;
        letter-spacing: 0.24px;
        margin-bottom: 2px;
        margin-left: 8px;
      }
    }

    input {
      border-radius: var(--b-radius-large);
      background: rgba(255, 255, 255, 0.70);
      backdrop-filter: blur(30px);
      border: none;
      outline: none;
      padding: 12px;
      font-size: 18px;
      font-weight: 400;
      color: #005271;

      @include tablet-s {
        border-radius: var(--b-radius-med);
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forgot {
  font-size:  1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.36px;
  margin-top: 4px;
  margin-left: 12px;

  @include tablet-s {
    font-size: 0.75rem;
    letter-spacing: 0.24px;
    margin-left: 8px;
  }
}

.login_button {
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.36px;
  color: var(--text-light);
  background: var(--background-secondary);
  border: none;
  cursor: not-allowed;
  border-radius: 20px;
  opacity: 0.3;
  margin-top: 40px;

  @include tablet-s {
    padding: 8px 16px;
    font-size: 0.75rem;
    letter-spacing: 0.24px;
    margin-top: 20px;
  }
}

.valid {
  opacity: 1;
  cursor: pointer;
}

.error_msg {
  color: var(--text-error);
  font-size: 0.75rem;
}

.loading_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(136, 136, 136, 0.50);
  backdrop-filter: blur(10px);
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--background-secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}