@import 'app/(pages)/_globals/mixins';

.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin-top: 5%;
}

.fields {
  display: flex;
  flex-direction: column;
  // gap: 12px; //commented out bc error message takes up the space instead (can revert when updating erro message design)

  @include tablet-l { //tailwind md
    // gap: 8px; //commented bc of same message above
  }

  div {
    display: flex;
    flex-direction: column;

    label {
      color: #000;
      font-size:  1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0.36px;
      margin-bottom: 4px;
    }

    input {
      border-radius: 16px;
      background: #FAFAFF;
      backdrop-filter: blur(30px);
      border: 1px solid transparent;
      outline: none;
      padding: 16px;
      font-size: 1rem; //16px
      font-weight: 400;
      color: #3F3F3F;

      &:hover {
        background: linear-gradient(0deg, rgba(48, 48, 53, 0.03) 0%, rgba(48, 48, 53, 0.03) 100%);
      }

      &:focus {
        border: 1px solid var(--Stroke-Blue-Stroke, #2DF0FB);
        background: rgba(213, 253, 255, 0.50);
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
}

.forgot {
  font-size: 1rem; //16px
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.36px;
  color: #3F3F3F;

  @include tablet-l { //tailwind md
    font-size: 0.875rem; //14px
  }
}

.submit_button {
  padding: 16px 24px;
  font-size: 1rem; //16px
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.36px;
  color: var(--text-light);
  background: var(--background-secondary);
  border: none;
  cursor: not-allowed;
  border-radius: 100px;
  opacity: 0.3;
  margin-top: 40px;
  width: 100%;
}

.valid {
  opacity: 1;
  cursor: pointer;
}

.error_msg {
  color: var(--text-error);
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: end;
  margin-top: 4px;
  min-height: calc(0.75rem * 1.5 + 4px);
}
