@import 'app/(pages)/_globals/mixins';

.container {
  display: flex;
  flex-direction: column;

  @include tablet-s {
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 72px 32px 0px 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 471px;
  margin-top: 5%;

  @include tablet-s {
    width: 100%;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet-s {
    gap: 20px;
  }

  div {
    display: flex;
    flex-direction: column;

    label {
      color: #000;
      font-size:  1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0.36px;
      margin-bottom: 4px;

      @include tablet-s {
        font-size: 0.75rem;
        letter-spacing: 0.24px;
        margin-bottom: 2px;
      }
    }

    input {
      border-radius: var(--b-radius-large);
      background: #FAFAFF;
      backdrop-filter: blur(30px);
      border: none;
      outline: none;
      padding: 12px;
      font-size: 18px;
      font-weight: 400;
      color: #005271;

      @include tablet-s {
        border-radius: var(--b-radius-med);
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
}

.forgot {
  font-size:  1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0.36px;
  margin-top: 4px;

  @include tablet-s {
    font-size: 0.75rem;
    letter-spacing: 0.24px;
  }
}

.submit_button {
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.36px;
  color: var(--text-light);
  background: var(--background-secondary);
  border: none;
  cursor: not-allowed;
  border-radius: 20px;
  opacity: 0.3;
  margin-top: 40px;

  @include tablet-s {
    padding: 8px 16px;
    font-size: 0.75rem;
    letter-spacing: 0.24px;
    margin-top: 20px;
  }
}

.valid {
  opacity: 1;
  cursor: pointer;
}

.error_msg {
  color: var(--text-error);
  font-size: 0.75rem;
}
