.container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.track_container {
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 8px;
    background: var(--cow, linear-gradient(180deg, #9EE7E5 0%, #9EE7E5 100%));
    box-shadow: 0px 4px 8px 4px rgba(195, 194, 194, 0.08);
}