@import "@globals/mixins.scss";

.container {
    position: relative; 
    z-index: 0;
    display: flex;
  
    // pesudo-element for svg
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url(/hackers/project-info/ClosingCeremony.svg) no-repeat bottom right 15%;
      background-size: 35% auto;
      z-index: 2; 
      pointer-events: none; 

      @include tablet-l {
        position: absolute;
        padding-top: 50%;
        background-size: contain;
        border: 3px solid green;
      }
    }
  
    .textBox {
      position: relative;
      width: 100%;
      background-color: #9EE7E5;
      text-align: left;
      align-items: center;
      border-radius: 12px;
      z-index: 1;
      flex-direction: column;
      margin: 5%;
      padding: 3%;

      @include tablet-l {
        border: 3px solid black;
        padding-bottom: 65%;
      }
  
      h3 {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.56px;
      }
  
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.4px;
        padding: 1% 0%;
      }
  
      h3, p {
        padding-right: 50%;

        @include desktop-m {
            padding-right: 45%
        }

        @include desktop-s {
            // padding-right: 10%;

            .p:nth-child(2) {
                padding-right: 20%;
                border: 3px solid pink;
            }
        }

        @include tablet-l {
            padding-right: 0;
        }
      }
    }
  }
  