@import '@globals/mixins.scss';

.container {
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
    gap: 10%;
    align-items: flex-start;

    @include desktop-s {
        padding: 4%;
        align-items: flex-end;
    }

    @include tablet-l {
        align-items: unset;
        flex-direction: column;
    }

    h1 {
        color: var(--grass-background-light);
        font-family: Metropolis;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;

        @include desktop-s {
            font-size: 2rem;
        }

        @include tablet-l {
            font-size: 2.25rem;
            letter-spacing: 0.72px;
        }
    }

    p {
        color: var(--text-dark);
        font-family: "Plus Jakarta Sans";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        /* 26.1px */
        letter-spacing: 0.36px;

        @include tablet-l {
            font-size: 1rem;
            letter-spacing: 0.32px;
        }
    }

    button {
        display: flex;
        width: 30%;
        max-width: 148px;
        min-width: 100px;
        max-height: 260px;
        height: auto;
        aspect-ratio: 148 / 283;
        transform: scale(1);
        border-radius: 1000px;
        background-color: var(--grass-background-light);
        color: var(--text-light);
        //positioning
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 33px;
        gap: 5px;
        //text:
        font-family: "Plus Jakarta Sans";
        font-size: 1.125rem;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 18px */
        letter-spacing: 0.36px;

        @include desktop-m {
            max-height: 220px;
        }

        @include desktop-s {
            max-height: 200px;
        }

        @include tablet-l {
            width: 100%;
            height: auto;
            max-height: none;
            max-width: none;
            aspect-ratio: unset;
            flex-direction: row-reverse;
            align-content: center;
            justify-items: center;
            text-align: center;
        }

        @include mobile-l {
            font-size: 1.063rem;
        }
    }

    .p_bold {
        color: var(--grass-background-light);
        font-weight: 700;

        @include tablet-l {
            font-weight: 400;
        }
    }
}

.starterkit_cont {
    //encapsulates image, button, grass
    display: flex;
    flex-direction: row;
    gap: 2%;
    // width: 100%;
    justify-content: flex-end;

    @include tablet-l {
        flex-direction: column-reverse;
        padding-top: 10%;
    }

    .hack_w_grass {
        //covers image, grass
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include tablet-l {
            flex-direction: column-reverse;
        }
    }

    .hackathon_cont {
        //green border around image
        border-radius: 16px;
        background-color: var(--grass-background-light);
        align-content: center;
        height: auto;
        aspect-ratio: 383 / 283;

        @include tablet-l {
            width: 100%
        }
    }

    .hack_img {
        min-width: 130px;
        min-height: 240px;

        @include desktop-m {
            min-height: 220px;
        }

        @include desktop-s {
            min-height: 200px;
        }

        @include tablet-l {
            width: 100%;
            min-width: unset;
            min-height: unset;
        }
    }

    .grass_dark {
        visibility: hidden;
        height: 0;
        width: 0;

        @include tablet-l {
            position: relative;
            visibility: visible;
            width: 27%;
            height: auto;
            margin: 5%;
            left: -40%;
        }
    }

    .grass_light {
        width: 24%;
        margin-top: 5%;

        @include tablet-l {
            //mobile / tablet
            position: relative;
            left: -10%;
        }
    }
}