@import '@globals/mixins.scss';

.container{
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;

    @include mobile-l{
        flex-direction: column;
    }

    h1{
        color:  #AFD157;
        font-family: Metropolis;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;

        @include mobile-l{
            font-size: 36px;
            letter-spacing: 0.72px;
        }
    }
    p{
        color: #000;
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 26.1px */
        letter-spacing: 0.36px;
        @include mobile-l{
            font-size: 16px;
            letter-spacing: 0.32px;
        }
    }
    button{
        display: flex;
        width: 148px;
        height: 283px;
        border-radius: 1000px;
        background-color: #AFD157;
        color: #FFF;
        //positioning
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 33px;
        gap: 5px;

        @include mobile-l{
            width: 100%;
            height: auto;
            flex-direction: row-reverse;
            align-content: center;
            justify-items: center;
            text-align: center;
        }
        //text:
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 18px */
        letter-spacing: 0.36px;
    }
    .p_bold{
        color: #AFD157;
        font-weight: 700;
        @include mobile-l{
            font-weight: 400;
        }
    }
}
.starterkit_cont{
    display: flex;
    flex-direction: row;
    gap: 2%;

    @include mobile-l{
        flex-direction: column-reverse;
        padding-top: 10%;
    }
    
    .hack_w_grass{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include mobile-l{
            flex-direction: column-reverse;
        }
    }

    .hackathon_cont{
        border-radius: 16px;
        background-color: #AFD157;
        align-content: center;
        height: 283px;
        @include mobile-l{
            height: auto;
        }
    }

    .grass_dark{
        visibility: hidden;
        height: 0;
        width:0;

        @include mobile-l{
            position: relative;
            visibility: visible;
            width: 27%;
            height: auto;
            margin: 5%;
            left: -40%;
        }
    }

    .grass_light{
        width: 24%;
        margin-top: 5%;

        @include mobile-l{
            position: relative;
            left: -10%;
        }
    }
}
