@use 'app/(pages)/_globals/mixins';

.container {
    background-blend-mode: multiply;
    background-color: var(--gradient-primary); 
    background-image: url('/hackers/mvp/BottomGrass.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain; 

    height: 100vh;
    position: relative;
    overflow: hidden;

    // children go in here btw
    .overlayContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1; 
        padding: 20px;
        border-radius: 8px;
      }


    .scenery {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo {
            margin-left: 5%;
            margin-top: 2%;

            img {
                width: 32px;
            }
        }

        .clouds {
            width: 100%;
            // z-index: 0;
            overflow: hidden;
        }

        .grass {
            margin-top: -35%;
            width: 100%;
            flex-direction: end;
            bottom: 0;
        }

    }
}