@use 'app/(pages)/_globals/mixins';

.container {
    background: var(--gradient-primary);
    height: 100%;
    position: relative;

    // children go in here btw
    .overlayContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1; 
        padding: 20px;
        border-radius: 8px;
      }

    // .imageWrapper {
    //     border: 3px solid blue;
    //     display: flex;
    //     height: 100%;
    //     width: auto;
    //     padding: 5%;

    //     img {
    //         justify-content: flex-end;
    //         border: 3px solid red;
    //         right: 0;
    //     }
    // }

    .scenery {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo {
            margin-left: 5%;
            margin-top: 2%;

            img {
                width: 32px;
            }
        }

        .clouds {
            width: 100%
        }

        .grass {
            margin-top: -35%;
            width: 100%;
            flex-direction: end;
            bottom: 0;
        }

    }
}