@import "@globals/mixins.scss";

.container {
  // border: 3px solid black;
  padding-top: 3%;

  span {
    font-weight: 700;
  }

  .judgingProcess {
    padding: 5%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.5) 
                url('/hackers/project-info/judgingProcess.svg') 
                no-repeat;
    background-position: right 20% bottom -8px;
    background-size: auto 70%; /* Image height is 50% of container; width adjusts automatically */
    z-index: 1;

    @include tablet-s {
      background-position: right 10% bottom -8px;
      background-size: auto 60%; 
    }
  
    h6, h4 {
      color: black;

      @include tablet-s {
        width: 50%;
        line-height: 1;
        padding-bottom: 5px;
      }
    }

    h6 {
      @include tablet-l {
        font-size: 0.9rem;
      }
      @include mobile-l {
        font-size: 0.7rem;
      }
    }
  }
  
  .footer {
    margin-top: 72px;

    @include tablet-l {
      margin-top: 32px;
    }
  }
}