@import "@globals/mixins.scss";

.container {
    // border: 3px solid black;
    padding-top: 3%;


    .submissionProcess {
        padding: 5%;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.5) 
                    url('/hackers/project-info/judgingProcess.svg') 
                    no-repeat;
        background-position: right 20% bottom -8px;
        background-size: auto 70%; /* Image height is 50% of container; width adjusts automatically */
        z-index: 1;
      
        h6, h4 {
          color: black;
        }
      }      
}