.EventContainer {
    background-color: #FFFFFF;
    border: 1px black solid;
    border-radius: 12px;
    padding: 5%;
    // border-left: 10px solid #005271;

    .EventInfoContainer {
        display: flex;
        width: 100%;
        // border: blue 3px solid;
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 1%;
        // gap: 3%;

        .EventInfo {
            // border: 3px red solid;
            flex-direction: row;

            .icon {
                // border: 1px black solid;
                height: 100%;
                width: 100%;
                padding-left: 1rem;
            }
        }
    }

    p {
        font-weight: 400;
        font-size: 1rem;
    }
}