.GarageContainer {
    display: flex;
    border: 3px black solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Garage {
    position: relative; /* Added to make .Overlay position relative to .Garage */
    border: 3px red solid;
    height: auto;
}

.Overlay {
    position: absolute;
    bottom: 85%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%; /* Updated to span the width of the .Garage */
    height: 15%;
    transition: 0.5s ease;
}

.Garage:hover .Overlay {
    bottom: 0;
    height: 100%;
}
