.GarageContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Garage {
    position: relative; 
    height: auto;
}

.Overlay {
    position: absolute;
    bottom: 80%; 
    left: 0;
    right: 0;
    background-color: #008CBA;
    background-image: url('/hackers/closed_garage.svg'); 
    background-size: cover;
    background-position: bottom; 
    overflow: hidden;
    width: 100%; 
    height: 20%;
    transition: 0.5s ease;
}

.Garage:hover .Overlay {
    bottom: 0;
    height: 100%;
}

.Text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.Slides {
    padding: 15%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 1; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth fade-in */
}

.Slides:hover {
    opacity: 1;
}