.announcement {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: var(--b-radius-large);
  background-color: white;
  padding: 32px;

  .time_and_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    > p {
      color: #848484;
    }

    .circle {
      height: 15px;
      width: 15px;
      border-radius: var(--b-radius-large);
      background-color: #9EE7E5;
    }
  }

  > h6 {
    color: black;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    color: black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}