@import "@globals/mixins.scss";

.container {
  width: 100%;

  .heading {
    display: flex;
    gap: 12px;
    padding-bottom: 16px;
    align-items: center;
  
    @include tablet-l{
      gap: 8px;
      padding-bottom: 12px;
    }

    .star_icon {
      @include tablet-l {
        width: 16px;
        height: 16px;
      }
    }

    > h2 {
      color: var(--text-dark);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0.36px;

      @include tablet-l {
        font-size: 0.875rem;
        letter-spacing: 0.28px;
      }
    }
  }

  .announcements {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 554px;
    padding: 28px 96px;
    border-radius: 1.125rem;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(30px);
    overflow-y: scroll;

    @include desktop-s {
      padding: 28px 48px;
    }

    @include tablet-l {
      padding: 20px;
    }

    .empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      gap: 32px;

      > p {
        color: var(--text-dark);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.36px;
      }
    }

    .loader {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}