@use 'app/(pages)/_globals/mixins';

.container{
    display: flex;
    margin-left: 30%;
    margin-right: 7%;
    // margin-right: 20%;
    position: relative;
    @include mixins.tablet-l{
        margin-left: 0%;
        margin-right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
    }

}

.text_container{
    border-radius: 18px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    padding: 5%;
}
.bunny_phone_img{
    position: absolute;
    right: -100px;
    top: 90px;
    z-index: 99;
    @include mixins.tablet-l{
        display: none;
    }
}
.stars_img{
    position: absolute;
    top: -22.5px;
    left: -40px;
    @include mixins.tablet-l{
        left: -20px;
    }
}

.grid_container{
    display: none;

    @include mixins.tablet-l{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        gap: 5%;
    }
    .left_container{
        border-radius: 18px;
        border: 1.5px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.50);
        backdrop-filter: blur(30px);
        padding: 5%;
        width: 60%;
    }
    .right_container{
        border-radius: 18px;
        border: 1.5px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.50);
        backdrop-filter: blur(30px);
        padding: 5%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bunny_phone_img_mobile{
        width: 50%;
    }
    .hackdavis_text{
        color: var(--teal-1, #005271);
        font-family: "DM Mono";
        font-size: 16px;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.32px;
    }
}
.ducky_img{
    transform: rotate(-15deg);
    width: 100%;
}