@import '@globals/mixins.scss';

.container {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 15%;
    background: linear-gradient(154deg, #76DEEB 45.75%, #FCFCD1 92.58%);

    @include tablet-l {
        padding-bottom: 0;
    }
}

.base_grass {
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(42%);
}

.bunny {
    position: absolute;
    bottom: 0;
    transform: translateX(200%);
    width: 20%;
}

.small_left_cloud {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    transform: translateY(100%);
}

.big_left_cloud {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    transform: translateY(170%);
}

.small_right_cloud {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    transform: translateY(95%);
}

.big_right_cloud {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    transform: translateY(10%);
}