@use 'app/(pages)/_globals/mixins';
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.container {
    position: absolute;
    left: 120px;
    right: 120px;
    top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 96px;

    text-align: left;
    color: var(--text-dark);
    font-size: 1.125rem;
    font-weight: 400;

    @include mixins.desktop-m {
        left: 64px;
        right: 64px;
        row-gap: 100px;
        column-gap: 64px;

    }

    @include mixins.desktop-s {
        left: 48px;
        right: 48px;
        column-gap: 48px;
    }

    @include mixins.tablet-l {
        justify-content: center;
        row-gap: 16px;
        left: 20px;
        right: 20px;
    }

}

.date {
    width: 100%;
    order: 0;
    @include mixins.tablet-l {
        text-align: center;
    }
}

.center_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mixins.tablet-l {
        order: 2;
    }
}

.group_width{
    width: 100%;
    .countdown{
        p{
            font-size: 18px;
            font-weight: 400;
            color: #000;
        }
        
    }
}

.judge_info{
    border-radius: 18px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    width: 100%;
    padding: 35px 32px;
    display: flex;
    justify-content: space-between;

    .judge_bunny_ducky_img{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .schedule_button{
        padding: 1% 4%;
        border-radius: 20px;
        border: 1.5px dashed #000;
    }
}

.notification {
    border-radius: 18px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    width: 100%;
    padding: 35px 32px;

    @include mixins.desktop-s {
        padding: 24px;
    }

    @include mixins.tablet-l {
        order: 3;
        padding: 50px 35px;
        margin-top: 50px;
        text-align: left;
    }

    .schedule_button{
        padding: 1% 4%;
        border-radius: 20px;
        border: 1.5px dashed #000;
    }
    .time_location{
        display: flex;
        gap: 1%;
    }
    .button_cont{
        display: flex;
        justify-content: flex-end;
    }
}

.live_now_empty{
    border-radius: 18px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
}

.live_now{
    overflow: auto;
    height: 554px;
    border-radius: 18px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    width: 100%;
    // text-align: center;
    padding: 0% 10%;

    .announcement{
        background-color: white;
        padding: 3%;
        border-radius: 16px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .time_and_icon{
        display: flex;
        justify-content: space-between;
        .circle{
            width: 15px;
            height: 15px;
            background-color: #9EE7E5;
            border-radius: 50%;
        }
    }
}

.monospace {
    font-family: "DM Mono";
    font-size: 18px;
    @include mixins.desktop-s {
        font-size: 17px;
    }
}

.info {
    font-size: 18px;
    @include mixins.desktop-s {
        font-size: 17px;
    }
    @include mixins.tablet-l {
        display: none;
    }
}

.star_social_good {
    display: none;
    @include mixins.tablet-l {
        display: flex;
        flex-direction: row;
        gap: 10px;
        order: 4;
        width: 100%;
    }
}

.star_box, .social_good {
    border-radius: 18px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
}

.star_box {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
}

.social_good {
    font-family: "DM Mono";
    text-align: left;
    flex-grow: 1;
    padding: 28px;
}

.box_star {
    width: 36px;
    height: auto;
}

.spacer_star_container {
    display: none;

    @include mixins.tablet-l {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px;
    }
}