.container_position {
  width: 100%;
  margin-bottom: 20px;
}

.judgeBanner {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1.5px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(30px);
  padding: 4% 5%;
  border-radius: 18px;
  margin-bottom: 15px;
  transition: filter 0.5s ease-out, opacity 0.5s ease-out;
}

.info {
  flex: 1;
  margin-right: 12px;

  h3 {
    color: var(--text-dark);
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
}

.dismissButton {
  background: none;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 8px 12px;
}

/* This class is added when the judge has finished, initiating the blur transition */
.finishing {
  filter: blur(3px);
  // opacity: 0;
}
