@use 'app/(pages)/_globals/mixins';

.container_position{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 5%;
    top: 100px;

    z-index: 999;
    width: 89%;
    height: 85vh;
    
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.60);
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(15px);

    row-gap: 50px;
    overflow:scroll;

    padding: 5% 0 5% 0;

    @include mixins.tablet-l{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) -5.78%, rgba(255, 255, 255, 0.01) 57.32%, rgba(255, 255, 255, 0.00) 135.47%);
        backdrop-filter: blur(15px);
        border-radius: 0%;
        border: none;
        // padding: 0;
        width: 100%;
        right: 0;
        top: 30%;
        height: 50%;
        row-gap: 25px;
    }

    
    
}

.container{
    background: rgba(255, 255, 255, 0.50);
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(30px);
    border-radius: 18px;
    padding: 1%;
    display: flex;
    gap: 3%;
    align-items: center;
    // margin-bottom: 9%;
    width: 44%;
    @include mixins.tablet-l{
        width: 88%;
        border-radius: 8px;
    }

    h3{
        @include mixins.tablet-l{
            font-size: 14px;
            font-weight: 600;
        }
    }
    p{
        @include mixins.tablet-l{
            font-size: 12px;
        }
    }

}

.close_button{
    border-radius: 24px;
    background: rgba(250, 254, 254, 0.70);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    @include mixins.tablet-l{
        display: none;
    }
}
.close_button_mobile{
    
    display: none;
    @include mixins.tablet-l{
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14%;
        p{
            font-size: 12px;
            color: #FFF;
        }
    }
}

.button{
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 1000px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}