.container_position{
    position: absolute;
    top: 100px;
    right: 7.5%;
    z-index: 999;
    backdrop-filter: blur(15px);
    row-gap: 100px;
    display: flex;
    flex-direction: column;
}

.container{
    background: rgba(255, 255, 255, 0.50);
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(30px);
    border-radius: 18px;
    padding: 3%;
    display: flex;
    gap: 3%;
    // margin-bottom: 9%;
}

.button{
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 1000px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}