@use 'app/(pages)/_globals/mixins';

.container {
  padding: 2%;
  width: 100%;
  text-align: center;

  .star {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    flex-direction: column;
  }

  .parent {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .child {
    position: relative;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 60px;
    height: 100px;
    cursor: pointer;

    .note {
      position: absolute;
      top: 0;
      width: 30px;
      opacity: 0;
      transform: translateY(0);
      transition: opacity 0.2s ease-in-out;
    }

    .head {
      width: 60px;
      height: auto;
      z-index: 1;
    }

    &:hover .note {
      animation: bounceNote 1.5s ease-in-out;
      opacity: 1;
    }
  }

  @keyframes bounceNote {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-30px);
    }
    80% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
