.Container {
    // background: var(--background-primary);
    background-color: #123041; //could not find this color in globals
    padding: 10% 40% 10% 7%;
    border-radius: 12px;
    // Background Image
    background: url('/hackers/PeepingAnimals.svg'),
                linear-gradient(to right, #123041 99%, #005271 1%); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right center; 

    .questions {

        h3 {
            text-align: left;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.64px;
            color: var(--text-light);
            padding-bottom: 35px;
        }

        .questionBoxes {
            display: flex;
            flex-direction: column;
            color: var(--text-light);
            gap: 32px;

            .qbox {
                padding: 5%;
                border-radius: 12px;
                background: #AFD157;
                color: var(--text-light);
                justify-content: center;
                align-items: center;
                align-self: stretch;
                text-align: center;

                p {
                    color: var(--text-dark);
                    font-size: 1.125rem;
                }
            }

            /* Different color variations */
            .qboxBlue {
                background: #9EE7E5;
            }

            .qboxYellow {
                background: #FFC53D;
            }

            .qboxGreen {
                background: #AFD157;
            }
        }
    }
}
