@import "@globals/mixins.scss";

.container {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 12px 12px;

  @include tablet-l {
    border-radius: 0px 0px 6px 6px;
  }


  .imageWrapper {
    width: 100%;
    display: flex;
    position: absolute;
    aspect-ratio: 16 / 8;
  }      
  
  .primaryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
  }

  .image {
    position: relative;
    width: 100% !important;
    height: auto !important;
    margin-bottom: -7%;
    z-index: 1;   
    padding-top: 15%; 
  }

  .text {
    text-align: center;
    padding-top: 5%;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 0.36px;

    @include tablet-l {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
    }

    @include tablet-s {
        font-size: 0.9rem;
    }

    @include mobile-l {
        font-size: 0.8rem;
    }
  }
}

.floor {
  background-color: var(--sea-background);
  padding: 4%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}