@import 'app/(pages)/_globals/mixins';

// DESKTOP & ABOVE
.topSection {
  position: relative;
  background-color: #DFF6F3;
  align-content: stretch;
  margin-bottom: 10%;

  @include tablet-l {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 450px;

    .blueBox,
    .whiteBox {
      flex: 1;
      align-items: flex-start;
    }

    > :first-child,
    > :last-child {
      flex: 0.35;
    }

    .blueBox {
      background-color: #9EE7E5;
    }

    .whiteBox {
      background: linear-gradient(
        284deg,
        rgba(213, 252, 209, 0.25) 9.72%,
        rgba(178, 231, 221, 0.25) 44.61%,
        rgba(118, 214, 230, 0.25) 79.5%
      );
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .textContent {
      padding: 8%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .button {
      border-radius: 20px;
      border: 1.5px dashed var(--text-dark);
      padding: 12px 24px;
      transition: background-color 0.15s ease;
      width: fit-content;

      &:hover {
        background-color: var(--text-dark);
        border: 1.5px solid;
        color: var(--text-light);
      }
    }
  }

  .alignBottom {
    display: flex;
    align-items: flex-end;

    .textContent {
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }

    .button {
      align-self: flex-end;
    }
  }

  .squiggle {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;

    @include monitor-s { bottom: -90px; }
    @include desktop-l { bottom: -70px; }
    @include desktop-m { bottom: -55px; }
    @include desktop-s { bottom: -45px; }
  }

  .animalWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cow, .duck {
    height: auto;
    z-index: 1;
  }

  .cow {
    width: 90%;
    padding-right: 20%;
    padding-top: 5%;
  }

  .duck {
    width: 100%;
  }

  .cowphone, .duckphone {
    position: absolute;
    width: 30%;
    height: auto;
    z-index: 2;
    animation: bounce 2s infinite ease-in-out;
  }

  .cowphone {
    top: 20%;
    left: 60%;
    animation-delay: 0.5s;
  }

  .duckphone {
    left: 13%;
    top: 10%;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
      @include tablet-l {
        transform: translateY(-10px);
      }
    }
  }
}

// MOBILE SECTION: ONLY VISIBLE ON tablet-l AND SMALLER
.mobile {
  display: none;

  @include tablet-l {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 48px 7.5%;
    gap: 20px;

    .cardMentor,
    .cardDirector {
      background-color: #e3f9f7;
      border-radius: 16px;
      text-align: center;
      position: relative;

      p {
        font-size: 14px;
        color: #333;
        margin: 12px 0 18px;
      }

      button {
        background: var(--text-dark);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px 16px;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          background-color: var(--text-light);
          color: var(--text-dark);
        }
      }

      .mobileText {
        background-color: #9EE7E5;
        display: flex;
        padding: 32px 23px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }

    .mobileanimalWrapper {
      position: relative;
      width: 100%;
      max-width: 450px;
      aspect-ratio: 450 / 320;
      margin: 0 auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mobileduck,
    .mobilecow {
      height: auto;
      z-index: 1;
    }

    .mobileduck {
      width: 100%;
      margin-bottom: -13%;
    }

    .mobilecow {
      width: 90%;
      margin-bottom: -10%;
      padding-right: 15%;
    }

    .mobilecowphone {
      position: absolute;
      top: 40%;
      right: 5%;
      width: 25%;
      z-index: 2;
      animation: bounce 2s infinite ease-in-out;
    }

    .mobileduckphone {
      position: absolute;
      top: 32%;
      left: 15%;
      width: 25%;
      z-index: 2;
      animation: bounce 2s infinite ease-in-out;
    }

    .mobilesquiggle {
        position: absolute;
        top: 58%;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: 2;
        pointer-events: none;
    
        @include mobile-l { top: 50%;}
        @include mobile-m { top: 43%;}
      }
  }
}
