@import "@globals/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 32px;
  padding: 32px 40px;
  gap: 32px;

  @include tablet-l {
    border-radius: 0px 0px 6px 6px;
    padding: 16px 20px;
    gap: 24px;
  }

  h2 {
    color: #173a52;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;

    @include tablet-l {
      font-size: 0.875rem;
      letter-spacing: 0.28px;
    }
  }

  p {
    color: var(--text-dark);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include tablet-l {
      font-size: 0.5rem;
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;

    @include desktop-s {
      flex-direction: column;
      gap: 8px;
    }

    > p {
      min-width: 100px;
      text-wrap: nowrap;
      text-align: right;

      @include desktop-s {
        text-align: left;
      }
    }

    .tiles {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include tablet-l {
        width: 100%;
        gap: 8px;
      }

      .tile {
        border-radius: var(--b-radius-large);
        padding: 32px;

        @include tablet-l {
          border-radius: var(--b-radius);
          padding: 16px;
        }
      }
    }
  }
}
