@import "@globals/mixins.scss";

.container {
    background: var(--gradient-primary);
    padding: 7% 5%;
    padding-top: 10%;

  h4 {
    font-weight: bold;
    padding-bottom: 1.5%;
    color: var(--text-dark);
  }

  div > button {
    display: inline-flex;
    padding: 10px 20px;
    background: none;
    color: var(--background-secondary);
    border-radius: 8px;
    font-weight: 500;
    margin-right: 1%;
    border: 1.5px solid var(--background-secondary);

    &.selected {
        background: var(--background-secondary);
        border: 1.5px solid var(--background-secondary);
        color: var(--text-light);
    }
  }
}
