@import "@globals/mixins.scss";

.container {
    background: var(--gradient-primary);

    .containerContent {
        padding: 7% 5%;
        padding-top: 10%;

        @include desktop-s {
          padding-top: 15%;
        }

        @include tablet-l {
          padding-top: 20%;
        }

        @include tablet-s {
          padding-top: 25%;
        }

        h4 {
            font-weight: bold;
            padding-bottom: 1.5%;
            color: var(--text-dark);

            @include tablet-s {
              padding-bottom: 1%;
              font-size: 1.2rem;
            }
        }
    }

  div > button {
    display: inline-flex;
    padding: 10px 20px;
    background: none;
    color: var(--background-secondary);
    border-radius: 8px;
    font-weight: 500;
    margin-right: 1%;
    border: 1.5px solid var(--background-secondary);

    @include tablet-s {
      font-size: 1rem;
    }

    @include mobile-l {
      font-size: 12px;
      padding: 10px 15px;
    }

    &.selected {
        background: var(--background-secondary);
        border: 1.5px solid var(--background-secondary);
        color: var(--text-light);
        margin-top: 2%;
        margin-bottom: 2%;
    }
  }

  .GrassDivider {
    width: 100%;
  }
}
