.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.category_header {
    font-size: 1.75rem;
    font-weight: 600;
}

.track_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.comment_box {
    width: 100%;
    height: 170px;
    padding: 1rem;
    min-height: 170px;
    margin-top: 16px;
}

.submit_button {
    background-color: #005271;
    border-radius: 8px;
    color: white;
    padding: 15px;
    font-weight: 600;
    font-size: 1.125rem;
}