@import "@globals/mixins.scss";


@include monitor-s {
    .Container {
        background: var(--text-dark);
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        // background: linear-gradient(to right, #123041 98%, #005271 2%);
    
        .questions {
            padding-top: 7%;
            padding-bottom: 7%;
            padding-right: 50px;
            padding-left: 50px;
            flex: 1;
            flex-direction: column; // Keeps content aligned properly
            justify-content: center; // Vertically centers content inside
    
            h3 {
                text-align: left;
                // font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.64px;
                color: var(--text-light);
                padding-bottom: 35px;
            }
    
            .questionBoxes {
                display: flex;
                flex-direction: column;
                color: var(--text-light);
                gap: 32px;
    
                .qbox {
                    padding: 5%;
                    border-radius: 12px;
                    background: var(----grass-background-light);
                    color: var(--text-light);
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    text-align: center;
                    width: 100%;
    
                    p {
                        color: var(--text-dark);
                        font-size: 1.125rem;
                    }
                }
    
                /* Different color variations */
                .qboxBlue {
                    background: #9EE7E5; // sorry i couldn't find in globals TT
                }
    
                .qboxYellow {
                    background: var(--hd-orange);
                }
    
                .qboxGreen {
                    background: var(--grass-background-light);
                }
            }
        }
    
        .animalcontainer {
            position: relative;
            min-height: 100%;
            width: 30%;
            object-fit: cover;
            overflow: visible;
    
            .peepingAnimals {
                border-radius: 12px;
            }
        
            img {
                height: 100%;
            }
        }
    }
}

@include desktop-l {
    .Container {
        background: var(--text-dark);
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        // background: linear-gradient(to right, #123041 98%, #005271 2%);
    
        .questions {
            padding-top: 7%;
            padding-bottom: 7%;
            padding-right: 50px;
            padding-left: 50px;
            flex: 1;
            flex-direction: column; // Keeps content aligned properly
            justify-content: center; // Vertically centers content inside
    
            h3 {
                text-align: left;
                // font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.64px;
                color: var(--text-light);
                padding-bottom: 35px;
            }
    
            .questionBoxes {
                display: flex;
                flex-direction: column;
                color: var(--text-light);
                gap: 32px;
    
                .qbox {
                    padding: 5%;
                    border-radius: 12px;
                    background: var(----grass-background-light);
                    color: var(--text-light);
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    text-align: center;
                    width: 100%;
    
                    p {
                        color: var(--text-dark);
                        font-size: 1.125rem;
                    }
                }
    
                /* Different color variations */
                .qboxBlue {
                    background: #9EE7E5; // sorry i couldn't find in globals TT
                }
    
                .qboxYellow {
                    background: var(--hd-orange);
                }
    
                .qboxGreen {
                    background: var(--grass-background-light);
                }
            }
        }
    
        .animalcontainer {
            position: relative;
            min-height: 100%;
            width: 35%;
            object-fit: cover;
            overflow: visible;
    
            .peepingAnimals {
                border-radius: 12px;
            }
        
            img {
                height: 100%;
            }
        }
    }
}

@include desktop-m {
    .Container {
        background: var(--text-dark);
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        // background: linear-gradient(to right, #123041 98%, #005271 2%);
    
        .questions {
            padding-top: 7%;
            padding-bottom: 7%;
            padding-right: 50px;
            padding-left: 50px;
            flex: 1;
            flex-direction: column; // Keeps content aligned properly
            justify-content: center; // Vertically centers content inside
    
            h3 {
                text-align: left;
                // font-size: 1.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.64px;
                color: var(--text-light);
                padding-bottom: 35px;
            }
    
            .questionBoxes {
                display: flex;
                flex-direction: column;
                color: var(--text-light);
                gap: 32px;
    
                .qbox {
                    padding: 5%;
                    border-radius: 12px;
                    background: var(----grass-background-light);
                    color: var(--text-light);
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    text-align: center;
                    width: 100%;
    
                    p {
                        color: var(--text-dark);
                        font-size: 1.125rem;
                    }
                }
    
                /* Different color variations */
                .qboxBlue {
                    background: #9EE7E5; // sorry i couldn't find in globals TT
                }
    
                .qboxYellow {
                    background: var(--hd-orange);
                }
    
                .qboxGreen {
                    background: var(--grass-background-light);
                }
            }
        }
    
        .animalcontainer {
            position: relative;
            min-height: 100%;
            width: 43%;
            object-fit: cover;
            overflow: visible;
    
            .peepingAnimals {
                border-radius: 12px;
            }
        
            img {
                height: 100%;
            }
        }
    }
}

@include desktop-s {
    .Container {
        background: var(--text-dark);
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        // background: linear-gradient(to right, #123041 98%, #005271 2%);
    
        .questions {
            padding-top: 7%;
            padding-bottom: 7%;
            padding-right: 50px;
            padding-left: 50px;
            flex: 1;
            flex-direction: column; // Keeps content aligned properly
            justify-content: center; // Vertically centers content inside
    
            h3 {
                text-align: left;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.64px;
                color: var(--text-light);
                padding-bottom: 35px;
            }
    
            .questionBoxes {
                display: flex;
                flex-direction: column;
                color: var(--text-light);
                gap: 32px;
    
                .qbox {
                    padding: 5%;
                    border-radius: 12px;
                    background: var(----grass-background-light);
                    color: var(--text-light);
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    text-align: center;
                    width: 100%;
    
                    p {
                        color: var(--text-dark);
                        font-size: 1.125rem;
                    }
                }
    
                /* Different color variations */
                .qboxBlue {
                    background: #9EE7E5; // sorry i couldn't find in globals TT
                }
    
                .qboxYellow {
                    background: var(--hd-orange);
                }
    
                .qboxGreen {
                    background: var(--grass-background-light);
                }
            }
        }
    }

    .animalcontainer {
        display: none;
    }
}

@include tablet-l {
    .animalcontainer {
        display: none;
    }
}