@import "@globals/mixins.scss";

.Container {
    background: var(--text-dark);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    // background: linear-gradient(to right, #123041 98%, #005271 2%);

    .questions {
        padding-top: 7%;
        padding-bottom: 5%;
        padding-right: 50px;
        padding-left: 50px;
        flex: 1;
        flex-direction: column; // Keeps content aligned properly
        justify-content: center; // Vertically centers content inside

        h3 {
            text-align: left;
            // font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.64px;
            color: var(--text-light);
            padding-bottom: 35px;
        }

        .questionBoxes {
            display: flex;
            flex-direction: column;
            color: var(--text-light);
            gap: 32px;

            .qbox {
                padding: 5%;
                border-radius: 12px;
                background: var(----grass-background-light);
                color: var(--text-light);
                justify-content: center;
                align-items: center;
                align-self: stretch;
                text-align: center;
                width: 100%;

                p {
                    color: var(--text-dark);
                    font-size: 1.125rem;
                }
            }

            /* Different color variations */
            .qboxBlue {
                background: #9EE7E5; // sorry i couldn't find in globals TT
            }

            .qboxYellow {
                background: var(--hd-orange);
            }

            .qboxGreen {
                background: var(--grass-background-light);
            }
        }
    }

    .peepingAnimals {
        border-radius: 12px;
    }

}

@include monitor-s {
    .questions {
        padding-top: 5%;
        padding-bottom: 5%;
        // padding-right: 50px;
        padding-left: 50px;
        flex: 1;
        flex-direction: column; // Keeps content aligned properly
        justify-content: center; // Vertically centers content inside

        h3 {
            text-align: left;
            // font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.64px;
            color: var(--text-light);
            padding-bottom: 35px;
        }

        .questionBoxes {
            display: flex;
            flex-direction: column;
            color: var(--text-light);
            gap: 32px;

            .qbox {
                padding: 3%;
                border-radius: 12px;
                background: var(----grass-background-light);
                color: var(--text-light);
                justify-content: center;
                align-items: center;
                align-self: stretch;
                text-align: center;
                width: 100%;
            }
        }
    }

}

@include desktop-m {
    .questions {
        padding-top: 7%;
        padding-bottom: 5%;
        padding-right: 0px;
        padding-left: 50px;
        flex: 1;
        flex-direction: column; // Keeps content aligned properly
        justify-content: center; // Vertically centers content inside

        h3 {
            text-align: left;
            // font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.64px;
            color: var(--text-light);
            padding-bottom: 35px;
        }

        .questionBoxes {
            display: flex;
            flex-direction: column;
            color: var(--text-light);
            gap: 22px;

            .qbox {
                padding: 3%;
                border-radius: 12px;
                background: var(----grass-background-light);
                color: var(--text-light);
                justify-content: center;
                align-items: center;
                align-self: stretch;
                text-align: center;
                width: 100%;

                p {
                    color: var(--text-dark);
                    font-size: 1.125rem;
                }
            }

            /* Different color variations */
            .qboxBlue {
                background: #9EE7E5; // sorry i couldn't find in globals TT
            }

            .qboxYellow {
                background: var(--hd-orange);
            }

            .qboxGreen {
                background: var(--grass-background-light);
            }
        }
    }
}

@include desktop-s {
    .peepingAnimals {
        display: none;
    }
}

@include tablet-l {
    .peepingAnimals {
        display: none;
    }
}