@import "@globals/mixins.scss";

.container{
    display: flex;
    flex-direction: row;
    gap: 32px;

    @include tablet-l{
        flex-direction: column;
        gap: 16px;
    }

    .box{
        background-color: #123041;
        color: #FFF;
        border-radius: 12px;
        padding: 5%;
        text-align: center;

        .green_text{
            color: #AFD157;
            padding-right: 3%;
            rotate: -4deg;
            font-weight: 700;
            font-size: 36px;
            @include tablet-l{
                font-size: 18px;
            }
        }
        .pink_text{
            color: #FFC5AB;
            padding-right: 3%;
            rotate: -4deg;
            font-weight: 700;
            font-size: 36px;
            @include tablet-l{
                font-size: 18px;
            }
        }
    }
    h3{
        // font-family: "Plus Jakarta Sans";
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.56px;
        display: flex;
        justify-content: center;
        @include tablet-l{
            font-size: 14px;
        }
    }
    p{
        // font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 145%; /* 26.1px */
        letter-spacing: 0.36px;
        @include tablet-l{
            font-size: 10px;
        }
    }
}


