.container {
    width: 100%;
    background-color: var(--background-light);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 60vh;

    input {
        padding-top: var(--small-medium-spacer);
        padding-left: var(--small-spacer);
        width: 100%;
    }

    .input_container {
        position: relative;
    }

    label {
        position: absolute;
        margin-top: var(--tiny-spacer);
        left: var(--small-spacer);
        font-size: 0.9rem;
        pointer-events: none;
    }

    .error_msg {
        color: var(--text-error);
        font-size: 0.875rem;
        font-weight: 500;
    }

    .fields {
        display: flex;
        flex-direction: column;
        gap: var(--small-spacer);
    }

    .error {
        border-color: var(--text-error);
    }

    .login_button {
        padding: 15px 18px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
        color: var(--text-light);
        border: none;
        border-radius: var(--b-radius);
        background-color: var(--background-secondary);
        cursor: pointer;
        width: 100%;
        
    }

    .login_button_container {
        display: flex;
        justify-content: center;
        margin-top: auto;
        flex-direction: column;
    }

    .not_valid {
        background-color: var(--background-secondary-light);
        opacity: 0.7;
        color: var(--text-light);
        cursor: not-allowed;
    }

    .froggie_container {
        // display: flex;
        justify-content: flex-end;
        position: relative;
        img{
            position: absolute;
        }
        .froggie{
            z-index: 1;
            left: 280px;
            top: -59px;
        }
        .drumstick{
            z-index: 2;
            left: 277px;
            top: -47px;
        }
    }

    // .not_judge {
    //     text-align: center;
    //     font-size: 0.75rem;
    //     a {
    //         color: var(--background-primary);
    //         font-weight: 700;
    //         text-decoration: underline;
    //     }
    // }
}