@use 'app/(pages)/_globals/mixins';

.container {
    background-image: 
        url('/hackers/mvp/Clouds.svg'),      
        // sorry i couldnt find the same colors in globals TT
        linear-gradient(284deg, rgba(213, 252, 209, 0.60) 9.72%, rgba(178, 231, 221, 0.60) 44.61%, rgba(118, 214, 230, 0.60) 79.5%);         

    background-repeat: no-repeat, no-repeat;
    background-position: top center, center;
    background-size: 100%;

    @include mixins.tablet-l {
        background-position-y: 30px, 0;
        background-position-x: -50px, 0;
        background-size: 125%, 100%;
    }
    
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // children go in here btw
    .overlayContent {
        z-index: 1; 
        border-radius: 8px;
        width: 100%;
      }


    .logo {
        position: absolute;
        margin-left: 5%;
        margin-top: 2%;

        img {
            width: 32px;
        }
    }

    .grass_asset {
        position: relative;
        width: 100%;
        bottom: -5px;

        .grass {
            width: 100%;

            @include mixins.tablet-l {
                position: absolute;
                bottom: 0;
            }
        }
    
        .mascots {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 65vh;
            width: auto;
    
            @include mixins.desktop-s {
                height: 50vh;
            }
            @include mixins.tablet-l {
                position: relative;
                height: 30vh;
                margin-right: 0;
                margin-left: auto;
            }
        }
    }
}